

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
<%= render partial: "shared/devisemes" %>

<div class="card text-center" style="text-align:center;">
<div class="form-group">
    <div class="col-sm-6">
        <h2>Forgot your password?</h2>
        <%= f.email_field :email, autofocus: true, class: "form-control validate", placeholder:"Email Address" %>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
</div>
</div>

<% end %>
