/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./application
 *= require_self
 */

// @import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr_rails";

video::-webkit-media-text-track-container {
    display: none;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.width-35 {
  width: 35%;
}

.width-65 {
  width: 65%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}


.width-100 {
  width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
  padding-top: 56px;
  background: #eceff1;
}

.navbar {
  padding: 3px 50px 3px 50px;
}

.navbar-nav > li:not(.dropdown) a {
  height: 56px;
  padding-top: 14px;
}

.navbar-nav > li:not(.dropdown) {
  display:block;
  padding-right: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e7e7e7;
}

.card-block {
  padding: 0.5rem;
}

.card-header {
  padding: 0.5rem;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: 100%;
  padding: 10px;
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.panel-sign-up {
  border-color: #337ab7;
  padding: 10px;
}

.btn-primary{
  padding: 12px 55px;
}

.footer{
  padding: 15px 50px 0px 50px;
}
