@import "bootstrap";
@import "toastr_rails";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar {
  padding: 5px 50px 5px 50px;
}

.navbar-nav > li:not(.dropdown) a {
  height: 56px;
  padding-top: 14px;
}

.navbar-nav > li:not(.dropdown) {
  display:block;
  padding-right:40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e7e7e7;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 50px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.panel-sign-up {
  border-color: #337ab7;
  padding: 10px;
}

h2, .h2 {
  text-align: center;
}

.btn-primary{
  padding: 12px 55px;
}
