/*
change sign up page
*/
body {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

form { margin: 0px 10px; }

.panel panel-primary {
	text-align: center; 
	margin: auto;
	padding: 10px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container-sign-up { 
	max-width: 360px; 
	  margin: auto
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }
