<% if @quiz.nil? %>
  <p>
    This quiz is no longer available
  </p>
<% elsif @quiz.avaliable_for_participant?(@participant) %>
  <%= render 'form' %>
<% else %>
  <p>
    You have spent all the possible attempts to answer this quiz
  </p>
  <p>
    <%= link_to delete_user_attempts_path(@quiz.id, session[:user_id]), method: :delete do %>
      Click here to reset the attempts
    <% end %>
  </p>
<% end -%>
